form {
    margin: 0;
    position: relative;
}

input[type="file"] {
		border: 1px dashed #0069D9;
    margin: 0.75em;
    width: calc(100% - 1.5em);
    padding: 1em 0 5em 1em;
}

h2 {
  margin: 0;
	padding: 1em;
	background: #0069D9;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#file-list {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}

.msg {
	text-align:left;
 	color:#666;
	background-repeat: no-repeat;
 	margin-left:30px;
   margin-right:30px;
	padding:5px;
   padding-left:30px;
}

.emsg {
	text-align:left;
	margin-left:30px;
   margin-right:30px;
	color:#666;
	background-repeat: no-repeat;
	padding:5px;
   padding-left:30px;
}

#f1_upload_process, #upload_target {
  display: none;
}
#f1_upload_process img {
  vertical-align: middle
}

body {
  margin: 0;
  height: 100%;
  line-height: 1.4;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
textarea {
	margin: 10px;
	width: calc(100% - 20px);
	height: 20vw;
  font: inherit;
  resize: vertical;
}
ul, button, input {
  font: inherit;
}
button, input[type="submit"] {
  margin: 0 .25em .5em 0;
  min-width: 7em;
}
.buttons {
  margin: 0 0 1em 1em;
}

* {
  box-sizing: border-box;
}
